<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larscheng.www.dao.UserGeohashMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.larscheng.www.domain.UserGeohash">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="geo_code" property="geoCode" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, longitude, latitude, geo_code, create_time
    </sql>

</mapper>
