<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larscheng.www.dao.SelectSubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.larscheng.www.domain.SelectSubject">
        <id column="id" property="id"/>
        <result column="sub_name" property="subName"/>
        <result column="tea_id" property="teaId"/>
        <result column="sub_type" property="subType"/>
        <result column="sub_file" property="subFile"/>
        <result column="sub_content" property="subContent"/>
        <result column="sub_select_status" property="subSelectStatus"/>
        <result column="adm_audit_state" property="admAuditState"/>
        <result column="adm_audit_content" property="admAuditContent"/>
        <result column="adm_audit_id" property="admAuditId"/>
        <result column="tutor_score" property="tutorScore"/>
        <result column="judge_score" property="judgeScore"/>
        <result column="defence_score" property="defenceScore"/>
        <result column="final_total_score" property="finalTotalScore"/>
        <result column="for_dep_id" property="forDepId"/>
        <result column="sub_year" property="subYear"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_card_id" property="userCardId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sub_name, tea_id, sub_type, sub_file, sub_content, sub_select_status, adm_audit_state, adm_audit_content, adm_audit_id, tutor_score, judge_score, defence_score, final_total_score, for_dep_id, sub_year, gmt_create, gmt_modify, user_card_id
    </sql>

</mapper>
